node_modules
dist
.next
.next-web
.turbo
coverage
*.db
*.db-journal
.env
.env.local
apps/web/.next
packages/db/prisma/dev.db
.DS_Store
*.tsbuildinfo
packages/*/src/**/*.js
packages/*/src/**/*.d.ts
packages/*/src/**/*.map
apps/*/src/**/*.js
apps/*/src/**/*.d.ts
apps/*/src/**/*.map
